.Rproj.user
.Rhistory
.RData
.Ruserdata
# Untracked files
files/*.svg
files/*.tiff
CDA.png
Figure2.jpg
JASR2023.pdf
JASR2023.log
LD1LD2-1.svg
/PAST*
/Map.*
/map.*
/followup pairwise-1.svg
/ggplot2-1.svg
/Microwear_ISO.*
